<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gl.gridviewlistview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <com.gl.gridviewlistview.activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </com.gl.gridviewlistview.activity>
        <com.gl.gridviewlistview.activity android:name=".activity.GridViewActivity"></com.gl.gridviewlistview.activity>
        <com.gl.gridviewlistview.activity android:name=".activity.ListViewActivity"></com.gl.gridviewlistview.activity>
    </application>

</manifest>